h1 {
    font-size: 65px;
    color:orange;
    font-family: sans-serif;
}
body {
    font-size: 16px;
}
p {
    font-weight: 600;
    font-size: 3em;
}
.estilo {
        background-color: pink;
        line-height: 50px;
        text-align: justify;
        font-style: italic;
    }
#amarelo {
    color: yellow;
}
#vermelho {
    color: red;
}
#marrom {
    color: brown;
}